doctype html
html
    head
        title Restablecimiento de contraseña
    body
        h1 Restablecimiento de contraseña
        p
            | Está recibiendo esto porque usted (u otra persona) ha solicitado el restablecimiento de la contraseña de su cuenta.
            | Haga clic en el siguiente enlace o péguelo en su navegador para completar el proceso:
            a(href=resetLink) Haga clic aquí
            | Si no solicitó esto, ignore este correo electrónico y su contraseña permanecerá sin cambios.
        p
            | Si tiene problemas para hacer clic en el botón "Haga clic aquí", copie y pegue la siguiente URL en su navegador web:
            | #{resetLink}
        p
            | Gracias,
            br
            | Equipo Migato